<form class="ui form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="addPost(newtitle, newlink)"
    class="ui button">
    Submit link
  </button>
</form>

<div class="ui grid posts">

  <app-post
    *ngFor="let post of sortPosts()"
    [post]="post">
  </app-post>
</div>
