<form class="ui form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="comment">Comment:</label>
    <input name="comment" #newComment>
  </div>
  <div class="field">
    <label for="link">Post Link:</label>
    <input name="link" #newlink>
  </div>
  <button (click)="makePost(newtitle, newComment, newlink)"
    class="ui button">
    Submit link
  </button>
</form>
<div class="ui posts">
  <div *ngFor="let post of sortPosts()">
      <app-post [post]=post></app-post>

</div>
