<div class="ui six wide medium padding grid-container segment">
            <div class="ui four wide grid-container">
            <div class="two wide column center aligned votes">
              <div class="ui container ">
                <div class="value">
                  {{ post.votes }}
                </div>
                <div class="label">
                  Points
                </div>
              </div>
            </div>
            <div class="six wide column segment">
              <a class="ui large header" href="{{ link }}">
                {{ post.title }}
              </a>
              <a class="ui meduim header" href="{{ link }}">
                {{ post.comment }}
              </a><br>
              <div class="ui small header">{{ post.webLink() }}</div>
              <ul class="ui list voters">
                <li class="item">
                  <a href (click)="upVote()">
                    <i class="arrow up icon"></i>
                      upvote
                  </a>
                </li>
                <li class="item">
                  <a href (click)="downVote()">
                    <i class="arrow down icon"></i>
                      downvote
                  </a>
                </li>
              </ul>
            </div>
            </div>
            </div>
