<div class="ui six wide medium padding grid-container segment">
            <div class="ui four wide grid-container">
              <div class="four wide column center aligned votes">
                <div class="value">
                  {{ post.votes }}
                </div>
                <div class="ui large label">
                  Points
                </div>
              </div>
            <div class="six wide column segment">
              <a class="ui medium header">
                {{ post.title }}
              </a>
              <div class="medium header">
                {{ post.comment }}
            </div>

              <div class="ui small header">
                {{ post.link }}
              </div>
              <ul class="ui list voters">
                <li class="item">
                  <a href (click)="upVote()">
                    <i class="arrow up icon"></i>
                      upvote
                  </a>
                </li>
                <li class="item">
                  <a href (click)="downVote()">
                    <i class="arrow down icon"></i>
                      downvote
                  </a>
                </li>
              </ul>
            </div>
            </div>
            </div>
